<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body>
    <div class="container">
        <!-- Title section -->
        <div class="title">Registration</div>

        <div class="content">
            <!-- Registration form -->
            <form th:action="@{/signup}" th:object="${signupObject}" method="post">
                <div class="user-details">
                    <!-- Input for Full Name -->
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" th:field="*{fullName}" placeholder="Enter your name" required>
                    </div>
                    <!-- Input for Email -->
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" th:field="*{email}" placeholder="Enter your email" required>
                    </div>
                    <!-- Input for Phone Number -->
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" th:field="*{phoneNumber}" placeholder="Enter your number" required>
                    </div>
                    <!-- Input for Password -->
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" th:field="*{password}" placeholder="Enter your password" required>
                    </div>
                    <!-- Input for Confirm Password -->
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" th:field="*{confirmPassword}" placeholder="Confirm your password" required>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
            <div th:if="${error}">
                <p style="color: red;" th:text="${error}"></p>
             </div>
        </div>
    </div>
</body>

</html>
